<ul id="hack-list">
  <% @hacks.each do |hack| %>
    <%= erb :"/hacks/_display_hack", locals: {hack: hack} %>
  <% end %>
</ul>
<a id="hack-link" href="http://www.resistmyforce.com">Add a new hack recipe</a>

<a class="standard-link" href="/hacks">FAKE THING!!!</a>
<br>
<!-- Need JS to listen to "#hack-link" anchor tag -->
<!-- The server to respond to AJAX (XHR) Request -->
<!-- Need JS to process response and display new hack on the page -->
